/* Variables */
$primary-color: lavender;
$secondary-color: lightcoral;
$main-text-color: dodgerblue;
$gray-color: gray;
$light-gray-color: #a8bbbf;
$light-color: #d6dee1;
$dark-color: #333;
$font-stack: "Jost", sans-serif;

/* Functions */
@mixin flex($direction, $justify-content, $align-items) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

/* Animation Keyframes */
@keyframes popUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;

  &-track {
    background-color: transparent;
  }

  &-thumb {
    background-color: $light-color;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }

  &-thumb:hover {
    background-color: $light-gray-color;
  }
}

/* Desktop styles */
body {
  display: flex;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-size: 0.9rem;
  height: 100vh;
  overflow: auto;
  h1 {
    color: $main-text-color;
  }
}

main {
  @include flex(row, center, none);
  width: 90%;
  animation: popUp 1s ease-out 0.2s;
  animation-fill-mode: backwards;
}

nav {
  @include flex(column, flex-start, center);
  margin-right: 0.5rem;
  background-color: lavender;
  width: 200px;

  h2 {
    margin: 1rem;
    padding: 0.4rem;
  }
}

.navbar-nav {
  @include flex(column, none, center);
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  width: 100%;
  &:last-child {
    margin-top: auto;
  }
}

.nav-link {
  @include flex(column, none, center);
  height: 5rem;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
  &:hover {
    filter: grayscale(0%) opacity(1);
    fill: gray;
  }
  & svg {
    width: 5rem;
    min-width: 5rem;
  }
}

.active {
  a {
    fill: $gray-color;
  }
}

.show {
  display: block !important;
}

table {
  text-align: left;
  display: inline-block;
  margin: 10px auto 60px auto;
  border-collapse: collapse;
  overflow-y: scroll;
  height: 73vh;

  thead {
    position: sticky;
    top: 0px;
    border-bottom: 1px solid $secondary-color;
    background-color: $primary-color;
    select {
      //border: none;
      background: lavender;
      font-size: 1rem;
      font-weight: bold;
      text-align: center;
      cursor: pointer;
      touch-action: pan-down;
    }
  }

  th {
    padding: 12px 10px;
    margin: 2px 31px;
    text-align: center;
    min-width: 6rem;
  }

  tr {
    width: 36rem;
    display: flex;
    justify-content: space-between;
  }

  tbody tr {
    &:nth-child(even) {
      background-color: #f2f2f2;
    }

    &:hover {
      background-color: #ddd;
    }
  }
}

#pie-chart-icon {
  display: none;
}

#table-header {
  font-size: 1.1rem;
}

#error-msg {
  color: $dark-color;
  display: none;
}

#loader {
  color: $secondary-color;
  display: none;
  z-index: 9999;
  animation: popUp 1s ease-out 0.2s;
  animation-fill-mode: backwards;
}

#table-container {
  margin: 5rem 2rem;
}

#chart-container {
  width: 45%;
}

#chart-container h1 {
  display: none;
}

#myChart {
  display: inline-block;
  margin: 7rem 4rem;
}

#date-sort {
  cursor: pointer;
}
