$primary-color: lavender;
$secondary-color: #a8bbbf;
$main-text-color: dodgerblue;
$light-color: #d6dee1;
$dark-color: #333;
$font-stack: "Jost", sans-serif;

@mixin flexCenter($direction, $justify-content, $align-items) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

//Global Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;

  &-track {
    background-color: transparent;
  }

  &-thumb {
    background-color: $light-color;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }

  &-thumb:hover {
    background-color: $secondary-color;
  }
}

body {
  display: flex;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-size: 0.9rem;
  height: 100vh;
  overflow: auto;
  h1 {
    color: $main-text-color;
  }
}
