$primary-color: lavender;
$secondary-color: #a8bbbf;
$main-text-color: dodgerblue;
$light-color: #d6dee1;
$dark-color: #333;
$font-stack: "Jost", sans-serif;

//Global Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}
